.root {
  max-width: 600px;
  padding: 12px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.equation {
  position: relative;
  display: grid;
  font-variant-numeric: tabular-nums;
  text-align: right;
  color: #1468c5;
  max-width: 300px;
  margin: 0 auto;
  gap: 18px;
  font-size: 46px;
}

.answer {
  font-variant-numeric: tabular-nums;
  text-align: right;
  color: #1468c5;
  max-width: 300px;
  margin: 0 auto 12px;
  gap: 18px;
  font-size: 46px;
}

.input {
  display: grid;
  gap: 12px;
  max-width: 300px;
  margin: 0 auto;

  input {
    font-size: 46px;
    text-align: right;
    width: 100%;
    font-family: inherit;
  }
}

.plus {
  color: #1468c5;
  position: absolute;
  right: -12px;
  top: 30px;
}

.numpad {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  margin: 0 auto;
}

.footer {
  display: grid;
  gap: 12px;
  max-width: 300px;
  margin: 18px auto;
}

.niceButton {
  font-size: 32px;
  padding: 12px;
  background-color: pink;
  border: 2px solid deeppink;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

.niceButtonLight {
  font-size: 18px;
  padding: 12px;
  border: none;
  color: deeppink;
  background: transparent;
  cursor: pointer;
}
