.root {
  max-width: 600px;
  padding: 12px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.equation {
  position: relative;
  display: grid;
  text-align: right;
  color: #1468c5;
  font-variant-numeric: tabular-nums;
  max-width: 100px;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 0 auto;
  gap: 18px;
  font-size: 46px;
}

.answer {
  font-variant-numeric: tabular-nums;
  text-align: right;
  color: #1468c5;
  font-variant-numeric: tabular-nums;
  max-width: 100px;
  margin: 0 auto 12px;
  font-weight: bold;
  font-size: 46px;
  width: 100%;
  display: flex;
  gap: 2px;

  span {
    display: inline-block;
    width: 30px;
  }
}

.plus {
  font-weight: bold;
  color: #1468c5;
  position: absolute;
  right: -12px;
  top: 30px;
}

.numpad {
  display: grid;
  gap: 4px 8px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  margin: 0 auto;
}

.footer {
  display: grid;
  gap: 12px;
  max-width: 300px;
  margin: 18px auto;
}

.niceButton {
  font-size: 32px;
  padding: 12px;
  background-color: pink;
  border: 2px solid deeppink;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

.niceButton {
  font-size: 28px;
  padding-bottom: 0px;
  padding-top: 4px;
  background-color: #ffdbe1;
  border: 4px solid #ffdbe1;
  border-radius: 8px;
  color: #4d97ec;
  cursor: pointer;
}

.niceButtonCurrent {
  border: 4px solid #4d97ec;
}

.niceButtonLight {
  font-size: 18px;
  padding: 12px;
  border: none;
  color: deeppink;
  background: transparent;
  cursor: pointer;
}

.modalOverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: grid;
  gap: 12px;
  font-size: 24px;
  letter-spacing: 3px;
  max-width: 270px;
}

.modalButton {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #4d97ec;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
